<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MPD Radio</title>
        <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    </head>
    <body>
        <!-- form -->
            <h1>Player</h1>
            <select name="player" hx-post="/player_selected">
                {{define "PlayerSelect"}}
                    <option selected>Select one</option>
                    {{ range .PlayerList }}
                        <option value="{{ .Address }}">{{ .Address }}</option>
                    {{ end }}
                    <option>Add new...</option>
                {{end}}
                {{template "PlayerSelect"}}
            </select>
            
            <h1>Radio</h1>
            <select name="radio" hx-post="/radio_selected">
                {{define "RadioSelect"}}
                    <option selected>Select one</option>
                    {{ range .RadioList }}
                        <option value="{{ .Url }}">{{ .Name }}</option>
                    {{ end }}
                    <option>Add new...</option>
                {{end}}
                {{template "RadioSelect"}}
            </select>

            <!-- TODO buttons -->
            <!-- TODO status -->
        <!-- form -->
    </body>
</html>