<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MPD Radio</title>
        <script src="https://unpkg.com/htmx.org@2.0.2"></script>
        <script src="static/mpd-radio.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
        <link rel="stylesheet" href="static/mpd-radio.css">
        <link rel="icon" type="image/x-icon" href="static/Icon.png">
    </head>
    <body>
        <main class="container-fluid">
            <h1>MPD Radio</h1>
            <h2>Player</h2>
            <fieldset class="grid">
                <select name="player" class="master-column">
                    {{define "PlayerSelect"}}
                        {{ range .PlayerList }}
                            <option value="{{ .Address }}">{{ .Address }}</option>
                        {{ end }}
                    {{end}}
                    {{template "PlayerSelect" .}}
                </select>
                <button onclick="openDialog('addPlayerDialog')">+</button>
                <button hx-delete="/player" hx-include="[name='player']" hx-target="[name='player']">-</button>
            </fieldset>
            <dialog id="addPlayerDialog">
                <article>
                    <header><h2>Add player</h2></header>
                    <label>
                        Host
                        <input type="text" name="playerHost">
                    </label>
                    <label>
                        Port
                        <input type="text" name="playerPort" value="6600">
                    </label>
                    <footer>
                        <button hx-put="/player" hx-include="[name='playerHost'], [name='playerPort']" hx-target="[name='player']"
                                hx-on--after-request="closeDialog('addPlayerDialog')">OK</button>
                        <button class="secondary" onclick="closeDialog('addPlayerDialog')">Cancel</button>
                    </footer>
                </article>
            </dialog>

            <h2>Radio</h2>
            <fieldset class="grid">
                <select class="master-column" name="radio">
                    {{define "RadioSelect"}}
                        {{ range .RadioList }}
                            <option value="{{ .Url }}">{{ .Name }}</option>
                        {{ end }}
                    {{end}}
                    {{template "RadioSelect" .}}
                </select>
                <button onclick="openDialog('addRadioDialog')">+</button>
                <button hx-delete="/radio" hx-include="[name='radio']" hx-target="[name='radio']">-</button>
            </fieldset>
            <dialog id="addRadioDialog">
                <article>
                    <header><h2>Add radio</h2></header>
                    <label>
                        Name
                        <input type="text" name="radioName">
                    </label>
                    <label>
                        URL
                        <input type="text" name="radioUrl">
                    </label>
                    <footer>
                        <button hx-put="/radio" hx-include="[name^='radio']" hx-target="[name='radio']"
                                hx-on--after-request="closeDialog('addRadioDialog')">OK</button>
                        <button class="secondary" onclick="closeDialog('addRadioDialog')">Cancel</button>
                    </footer>
                </article>
            </dialog>

            <form hx-post="/command" hx-include="[name='radio'], [name='player']" hx-target="#status">
                <fieldset class="grid">
                    <!-- TODO graphical buttons -->
                    <button name="play">Play</button>
                    <button name="stop">Stop</button>
                    <button name="pause">Pause</button>
                </fieldset>
            </form>

            <h2>Volume</h2>
            <form hx-post="/command" hx-include="[name='radio'], [name='player']" hx-target="#volume_range" hx-swap="outerHTML">
                <fieldset class="grid">
                    {{define "VolumeRange" }}
                    <input id="volume_range" type="range" class="master-column" disabled value="{{ .Volume }}" />
                    {{end }}
                    {{template "VolumeRange" .}}
                    <button name="volume_up">+</button>
                    <button name="volume_down">-</button>
                </fieldset>
            </form>

            <article>
                <header>Status</header>
                <div id="status" hx-get="/status" hx-trigger="every 10s" hx-include="[name='player']">
                    {{define "Status"}}
                        {{if .IsPlaying}}
                            <span class="animate">♫</span>
                        {{end}}
                        {{ .Status }}
                        <title hx-swap-oob="title">{{ .Status }} - MPD Radio</title>
                    {{end}}
                    {{template "Status" .}}
                </div>
            </article>
        </main>
        <footer class="container-fluid">
            <small><a href="https://github.com/r0b0/mpd-radio">MPD Radio</a> version {{.AppVersion}}</small>
        </footer>
    </body>
</html>